%h3= @message

.row
  .span6.offset3
    %form.bs-container{:action => "/urls", :method => "post"}
      %fieldset
        %legend Enter a URL to Shorten
        %label
        .input-prepend
          %span.add-on http//:
          %input.span4#prependedInput{:type => "text", :name =>"original", :placeholder => "Enter a url"}
        %br
        %button.btn.btn-primary{:type => "Submit"} Shorten