-# %h1= @message

.row
  .span6.offset3
    %form.bs-docs-example
      %fieldset
        %legend Enter a URL to Shorten
        %label
        %input.span4{:type => "text", :placeholder => "Enter a url"}
        %span.help-block Help text
        %button.btn.btn-primary{:type => "Submit"} Submit