%h3= @message

.row
  .span6.offset3
    %h1.text-center JetFuel
    %form.bs-container{:action => "/urls", :method => "post"}
      %fieldset
        %legend Enter a URL to Shorten
        %label
        .input-prepend
          %span.add-on http//:
          %input.span4#prependedInput{:type => "text", :name =>"original", :placeholder => "Enter a url"}
        %br
        %button.btn.btn-primary{:type => "Submit"} Shorten

    %br
    - if current_user
      %p
        Hi #{current_user.username}! Get more detailed tracking by using one of your
        %a{:href => "/vanity_urls/#{current_user.username}"} vanity urls