.row
  .span6.offset3
    %h2.text-center Login
    %form.form-horizontal.bs-container{:action => "/login", :method => "post"}
      .control-group
        %label.control-label{:for =>"inputUsername"} Username
        .controls
          %input{:type => "text", :name => "username", :placeholder =>"Username"}
      .control-group
        %label.control-label{:for =>"inputPassword"} Password
        .controls
          %input#inputPassword{:type => "password", :name => "password", :placeholder =>"Password"}
      .control-group
        .controls
          %button.btn{:type => "submit"} Login


