.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar{:type => "button", 'data-toggle'=> 'collapse', 'data-toggle'=> '.nav-collapse'}
        %span .icon-bar
        %span .icon-bar
        %span .icon-bar
      %a.brand{:href => "/"} JetFuel
      .nav-collapse.collapse
        %ul.nav.pull-right
          - if current_user
            %li
              %a{:href => "/logout"} Logout
            %li
              %a{:href => "/user/#{current_user.username}"} Welcome #{current_user.username}!
          - else
            %li
              %a{:href => "/login"} Login





